<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">I am a web developer specializing in small business and personal websites. I pride myself on 
  my commitment to working closely with my clients throughout the development process to deliver a highly personalized
  website.</p>
  <p class="lead">
    <%= link_to "Learn More", about_me_path, class: 'btn btn-lg btn-secondary' %>
  </p>
</main>
